.looking-for
{
    font-size: 20px;
    font-weight: 500;
    /* font-style: italic; */
    margin-top: 20px;
}
.text-wrapper{
    display: flex;
    font-size: 13px !important;
    justify-content: space-between;
    margin-bottom: 10px !important;
}
.info{
    /* color: rgb(228, 224, 219); */
    font-size: 14px !important;
    font-weight: 300 !important;
}
.looking-for-btn{
    margin-top: 20px;
}
.look-for{
    color: #0d6efd;
    margin-right: 30px;
    text-decoration: underline;
    cursor: pointer;
}
.groom-img{
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}


.groom-img img{
    height:100%;
    width: 100%;
    object-fit: cover;
    transition:all linear .5s ;

}
.groom-img:hover img{
    transform: scale(1.07);

}
.groom-img:hover .__image_overlay{
    transform: scale(1);
    border-radius: 0%;

}

.__image_overlay{
    position: absolute;
    background-color: #0d6dfd50;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
    border-radius: 50%;
 transform: scale(0);
    transition:all ease-in-out .5s ;
}
.__open-icon
{
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}
.details-btn
{
    margin-top: 20px;
    width: 100%;
    display: block;
    text-align: center;
    background-color: transparent;
    border: 1px solid #0d6efd;
    padding: 5px;
    color: #0d6efd;;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    transition:all linear .4s ;

}
.details-btn:hover{
    background-color: #0d6efd;;;
    color: #fff;

}